{% extends 'base.html.twig' %}

{% block title %}Série #{{ program.id }}{% endblock %}

{% block body %}
    <div>
        
            <h1>{{ program.title }}</h1>
            <p>{{ program.synopsis }}</p>

            <p>Catégorie : {{ program.category.name }}</p>

            <h2> Saisons disponibles : <h2>
           
           <ul> 
            {% for season in program.seasons %}
              <li> {{season.number}}
            
            <a href="{{path('program_season_show', {'programId': program.id, 'seasonId': season.id}) }}"> voir plus
            </a>
            </li>
            {% endfor %}
            </ul>  
        </div>
    </div>

    <a href="{{ path('program_index') }}">
        Retour à la liste des programmes
    </a>
{% endblock %}