{% extends 'base.html.twig' %}

{% block title %}Série #{{ program.id }}{% endblock %}

{% block body %}
    <div>
        <div class="card-header">
            <h1>{{ program.title }}</h1>
            <p>{{ program.synopsis }}</p>
        </div>

            <h2> Catégorie : {{ program.category.name }}</h2>

        <div class="card-body">
            {% if program.updatedAt is null %}
                <img class="card-img-top" src="{{ program.poster }}" alt="poster de {{ program.title }}">
            {% else %}
                <img class="card-img-top" src="{{ vich_uploader_asset(program) }}" alt="{{ program.title }}">
            {% endif %}

        <div class="card-footer text-muted">
            {{ program.country }} - {{ program.year }}
        </div>
            <h3> Saisons disponibles : </h3>
           
           <ul> 
            {% for season in program.seasons %}
              <li> {{season.number}}
            
            <a href="{{path('program_season_show', {'slug': program.slug, 'season': season.id}) }}"> voir plus
            </a>
            </li>
            {% endfor %}
            </ul>  
        </div>
    </div>


        <strong>Acteurs :</strong>
    <ul>
        {% for actor in program.actors %}
            <li>{{ actor.name }}</li>
        {% else %}
            <li>Aucun acteur pour cette série</li>
        {% endfor %}
    </ul>

   {#  <div class="card-body">
        {% if actor.updatedAt is null %}
            <img class="card-img-top" src="{{ actor.poster }}" alt="poster de {{ actor.title }}">
        {% else %}
            <img class="card-img-top" src="{{ vich_uploader_asset(actor) }}" alt="{{ actor.name }}">
        {% endif %}
        <a href="{{ path('app_actor_index') }}">
            Retour à la liste des acteurs
        </a>
    </div>#}
    <div>
        {% if is_granted("ROLE_ADMIN") or (is_granted("ROLE_CONTRIBUTOR") and program.owner == app.user) %}
            <a href="{{ path('program_edit', { 'slug': program.slug} ) }}">Éditer</a>
        {%endif%}
    </div>

    <a href="{{ path('program_index') }}">
        Retour à la liste des programmes
    </a>
{% endblock %}